@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
    === CORES ===
    Preto: #040517; Branco: #e5e5e5e7;
    Azul: rgb(32, 15, 86);
*/

body {
    font-family: 'Montserrat', sans-serif;
}